@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&family=Montserrat:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

header img,
footer img {
  width: 100%;
}

header img {
  max-height: 140vh;
}

header {
  position: relative;
}

.header-icon {
  width: 530px;
  height: auto;
  position: absolute;
  top: 5%;
  right: 7%;
  max-width: 38%;
}

.header-txt {
  position: absolute;
  top: 17%;
  left: 10%;
  max-width: 45%;
  color: #fff;
}

.title-header {
  font-family: "Montserrat Alternates", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 43px;
  line-height: 55px;
  margin-bottom: 16px;
}

.title-txt {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 40px;
}

.btn-header,
.btn-package {
  background: linear-gradient(180deg, #87ab51 0%, #01a543 79.69%, #0db942 100%);
  border-radius: 70px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  border: none;
}

.btn-header {
  padding: 15px 22px;
  margin-bottom: 20px;
  font-size: 25px;
  line-height: 37px;
}

.how-it-works {
  font-size: 18px;
  line-height: 28px;
  color: #dbdbdb;
  margin-left: 35px;
  text-decoration: underline;
}

.section-1 {
  text-align: center;
  margin-bottom: 90px;
}

.section-1 h2 {
  font-family: "Montserrat Alternates", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  color: #141c43;
  margin-bottom: 20px;
}

.section-1 p {
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
}

.section-2 {
  margin-bottom: 100px;
}

.video-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  grid-gap: 25px;
}

.holder img {
  border-radius: 20px;
  max-width: 100%;
  height: auto;
}

.trigger {
  cursor: pointer;
}

.modal-content {
  position: relative;
}

.close {
  position: absolute;
  bottom: 103%;
  left: 94%;
  z-index: 2;
}

.close span {
  color: #fff;
  background-color: #000;
  padding: 8px 17px 10px 17px;
}

.yt-channel {
  border: none;
  width: 100%;
  background: linear-gradient(180deg, #b35668 0%, #141a40 180%);
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  line-height: 37px;
  color: #fff;
  margin-top: 25px;
}

.section-3 {
  margin-bottom: 100px;
}

.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  grid-gap: 25px;
  padding: 45px;
}

.features img {
  width: 305px;
  height: 224px;
}

.features h2 {
  font-family: "Montserrat Alternates", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #141c43;
  margin: 20px 0px;
}

.features p {
  font-size: 24px;
  line-height: 30px;
}

.features h2,
.features p {
  text-align: center;
}

.section-4 {
  text-align: center;
  position: relative;
  margin-bottom: 120px;
}

.section-4 h1 {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  color: #b85a6c;
  border-bottom: 5px solid #b85a6c;
  padding: 25px 30px;
}

.sec-4-bg {
  width: 100%;
  height: auto;
}

.list-testimoni {
  position: absolute;
  top: 80%;
}

.list-testimoni-1,
.list-testimoni-2 {
  display: grid;
  grid-gap: 40px;
}

.list-testimoni-1 {
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 50px;
}

.list-testimoni-2 {
  grid-template-columns: 3fr 1fr;
}

.testimoni-1,
.testimoni-2,
.testimoni-3,
.testimoni-4,
.package,
.pertalite {
  background: #fff;
  box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 2px;
}

.testimoni-1 img,
.testimoni-2 img,
.testimoni-3 img,
.testimoni-4 img {
  height: auto;
}

.testimoni-1 img {
  max-width: 80%;
}

.testimoni-2 img {
  max-width: 100%;
  border-radius: 20px;
}

.testimoni-3 img {
  max-width: 95%;
}

.testimoni-4 img {
  max-width: 80%;
}

.section-5 {
  margin-top: 330px;
  margin-bottom: 60px;
}

.section-5-title,
.package h3,
.pertalite h3 {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: bold;
}

.section-5-title {
  font-size: 30px;
  line-height: 44px;
  text-align: center;
  color: #141c43;
  margin-bottom: 30px;
}

#package-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding: 30px;
}

.package {
  height: 580px;
  margin-top: 20px;
}

.package,
.pertalite {
  padding: 30px;
  text-align: center;
  width: 330px;
}

.package p,
.pertalite p {
  text-align: left;
}

.package h3,
.pertalite h3 {
  text-decoration: underline;
}

.package h3 {
  color: #b85a6c;
  font-size: 24px;
  line-height: 29px;
}

.package h2 {
  font-size: 38px;
  line-height: 44px;
  color: #141c43;
}

.package h2,
.pertalite h2 {
  margin: 30px 0px;
  font-weight: bold;
}

.package p,
.pertalite p {
  font-size: 17px;
  line-height: 28px;
}

.pertalite {
  background: linear-gradient(180deg, #b85a6c 0%, #151d44 100%);
  height: 640px;
  position: relative;
}

.star {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
}

.pertalite h3,
.pertalite h2,
.pertalite p {
  color: #fff;
}

.pertalite h3 {
  font-size: 30px;
  line-height: 37px;
}

.pertalite h2 {
  font-size: 42px;
  line-height: 55px;
}

.btn-package {
  padding: 10px;
  font-size: 20px;
  width: 250px;
}

.premium button {
  margin-top: 100px;
}

.pertalite button {
  margin-top: 50px;
}

.pertamax button {
  margin-top: 17px;
}

footer {
  position: relative;
}

.footer-bg {
  max-height: 130vh;
}

.footer-content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 37%;
  left: 28%;
  max-width: 50%;
}

.garansi {
  position: relative;
  border: 5px solid rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  text-align: center;
  color: #fff;
  padding: 30px 100px 30px 20px;
  width: 720px;
  margin-right: 10%;
}

.garansi img {
  position: absolute;
  bottom: 38%;
  left: 80%;
  max-width: 30%;
  height: auto;
}

.garansi h2 {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
}

.garansi p,
.logo p {
  font-size: 30px;
  line-height: 35px;
}

.logo {
  text-align: center;
  margin-top: 60px;
  color: #d5d5d5;
}

.logo img {
  width: 400px;
  height: auto;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  color: #fff;
}

.email,
.ig {
  display: flex;
}

.email {
  margin-right: 250px;
}

.fa {
  margin-right: 10px;
  font-size: 30px;
}

.email p,
.ig p {
  padding: 3px;
}

.instagram a {
  text-decoration: none;
  color: #fff;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .header-txt {
    top: 10%;
    left: 6%;
  }

  .title-header {
    font-size: 0.9rem;
    line-height: 18px;
    margin-bottom: 6px;
  }

  .title-txt {
    font-size: 0.56rem;
    line-height: 15px;
    margin-bottom: 10px;
  }

  .btn-header,
  .btn-package {
    border-radius: 20px;
  }

  .btn-header {
    padding: 3px 8px;
    margin-bottom: 5px;
    font-size: 9px;
    line-height: 17px;
  }

  .how-it-works {
    font-size: 7px;
    line-height: 15px;
    margin-left: 0px;
  }

  .section-1 {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .section-1 h2 {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
  }

  .section-1 p {
    font-size: 12px;
    line-height: 15px;
  }

  .section-2 {
    margin-bottom: 30px;
  }

  .video-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 5px;
    padding: 0px 40px;
  }

  .holder img {
    width: 150px;
    margin-bottom: 10px;
    border-radius: 10px;
  }

  .close {
    bottom: 105%;
    left: 89%;
  }

  .close span {
    padding: 5px 12px;
  }

  .yt-channel {
    font-size: 15px;
    line-height: 17px;
  }

  .section-3 {
    margin-bottom: 20px;
  }

  .features {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .features img {
    width: 190px;
    height: 150px;
    margin-left: 3%;
  }

  .features h2 {
    font-size: 20px;
    line-height: 24px;
    margin: 13px 0px;
  }

  .features p {
    font-size: 13.6px;
    line-height: 20px;
  }

  .section-4 h1 {
    font-size: 22px;
    line-height: 33px;
    color: #b85a6c;
    padding: 10px 20px;
    border-bottom: 3px solid #b85a6c;
  }

  .list-testimoni {
    top: 80%;
  }

  .testimoni-1,
  .testimoni-2,
  .testimoni-3,
  .testimoni-4,
  .package,
  .pertalite {
    background: #fff;
    box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 2px;
  }

  .list-testimoni-1,
  .list-testimoni-2 {
    display: grid;
    grid-gap: 20px;
  }

  .list-testimoni-1 {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 15px;
  }

  .list-testimoni-2 {
    grid-template-columns: 3fr 1fr;
  }

  .section-5 {
    margin-top: 120px;
  }

  .section-5-title {
    font-size: 18px;
    line-height: 24px;
  }

  #package-list {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }

  .package {
    height: 410px;
    margin-top: 0px;
  }

  .package,
  .pertalite {
    padding: 24px;
    text-align: center;
    width: 240px;
    border-radius: 15px;
  }

  .package h3 {
    color: #b85a6c;
    font-size: 16px;
    line-height: 29px;
  }

  .package h2 {
    font-size: 26px;
    line-height: 20px;
    color: #141c43;
  }

  .package h2,
  .pertalite h2 {
    margin: 15px 0px;
    font-weight: bold;
  }

  .package p,
  .pertalite p {
    font-size: 10px;
    line-height: 21px;
  }

  .pertalite {
    background: linear-gradient(180deg, #b85a6c 0%, #151d44 100%);
    height: 430px;
    position: relative;
  }

  .btn-package {
    font-size: 25px;
    width: 150px;
  }

  .star {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 23px;
  }

  .pertalite h3 {
    font-size: 16px;
    line-height: 27px;
  }

  .pertalite h2 {
    font-size: 30px;
    line-height: 25px;
  }

  .btn-package {
    padding: 8px;
    font-size: 14px;
  }

  .premium button {
    margin-top: 60px;
  }

  .pertalite button {
    margin-top: 20px;
  }

  .pertamax button {
    margin-top: 5px;
  }

  .footer-bg {
    max-height: 120vh;
  }

  .garansi {
    padding: 10px 35px 10px 18px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    width: 280px;
    margin-right: 10%;
  }

  .garansi img {
    width: 250px;
    bottom: 50%;
    left: 85%;
  }

  .logo {
    margin-top: 20px;
  }

  .garansi h2 {
    font-size: 18px;
    line-height: 19px;
  }

  .garansi p,
  .logo p {
    font-size: 11px;
    line-height: 18px;
  }

  .logo img {
    width: 150px;
    height: auto;
  }

  .logo p {
    margin-bottom: 10px;
  }

  .contact {
    margin-top: 20px;
  }

  .fa {
    margin-right: 3px;
    font-size: 14px;
  }

  .email {
    margin-right: 100px;
  }

  .email p,
  .ig p {
    font-size: 8px;
    margin-right: 10px;
  }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 768px) {
  .header-txt {
    top: 12%;
    left: 7%;
  }

  .title-header {
    font-size: 1.3rem;
    line-height: 28px;
    margin-bottom: 6px;
  }

  .title-txt {
    font-size: 0.7rem;
    line-height: 21px;
    margin-bottom: 10px;
  }

  .btn-header {
    padding: 3px 8px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 17px;
  }

  .how-it-works {
    font-size: 10px;
    line-height: 15px;
    margin-left: 8px;
  }

  .section-1 {
    margin-top: 20px;
    margin-bottom: 35px;
  }

  .section-1 h2 {
    font-size: 21px;
    line-height: 29px;
    margin-bottom: 10px;
  }

  .section-1 p {
    font-size: 16px;
    line-height: 20px;
  }

  .section-2 {
    margin-bottom: 50px;
  }

  .video-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 0px 40px;
  }

  .holder img {
    width: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
  }

  .close {
    bottom: 105%;
    left: 90%;
  }

  .yt-channel {
    font-size: 15px;
    line-height: 17px;
  }

  .section-3 {
    margin-bottom: 20px;
  }

  .features {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .features img {
    width: 160px;
    height: auto;
    margin-left: 20px;
  }

  .features h2 {
    font-size: 20px;
    line-height: 24px;
    margin: 13px 0px;
  }

  .features p {
    font-size: 15px;
    line-height: 20px;
  }

  .section-4 h1 {
    font-size: 27px;
    padding: 5px 20px;
  }

  .list-testimoni-1,
  .list-testimoni-2 {
    grid-gap: 10px;
  }

  .list-testimoni-1 {
    margin-bottom: 20px;
  }

  .section-5 {
    margin-top: 120px;
  }

  #package-list {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }

  .package {
    margin-top: 0px;
    height: 430px;
  }

  .package,
  .pertalite {
    padding: 24px;
    text-align: center;
    width: 260px;
  }

  .package h3 {
    color: #b85a6c;
    font-size: 18px;
    line-height: 29px;
  }

  .package h2 {
    font-size: 28px;
    line-height: 20px;
    color: #141c43;
  }

  .package h2,
  .pertalite h2 {
    margin: 17px 0px;
    font-weight: bold;
  }

  .package p,
  .pertalite p {
    font-size: 12px;
    line-height: 21px;
  }

  .pertalite {
    height: 460px;
  }

  .pertalite h3 {
    font-size: 20px;
    line-height: 27px;
  }

  .pertalite h2 {
    font-size: 32px;
    line-height: 25px;
  }

  .btn-package {
    font-size: 16px;
    width: 170px;
  }

  .premium button {
    margin-top: 60px;
  }

  .pertalite button {
    margin-top: 15px;
  }

  .pertamax button {
    margin-top: 5px;
  }

  .section-5-title {
    font-size: 20px;
    line-height: 24px;
  }

  .footer-bg {
    max-height: 120vh;
  }

  .garansi {
    padding: 10px 35px 10px 18px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    width: 330px;
    margin-right: 10%;
  }

  .garansi img {
    width: 250px;
    bottom: 40%;
    left: 85%;
  }

  .logo {
    margin-top: 20px;
  }

  .garansi h2 {
    font-size: 18px;
    line-height: 19px;
  }

  .garansi p,
  .logo p {
    font-size: 14px;
    line-height: 18px;
  }

  .logo img {
    width: 200px;
    height: auto;
  }

  .logo p {
    margin-bottom: 10px;
  }

  .contact {
    margin-top: 40px;
  }

  .fa {
    margin-right: 3px;
    font-size: 18px;
  }

  .email p,
  .ig p {
    font-size: 12px;
    margin-right: 10px;
  }

  .email {
    margin-right: 100px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .title-header {
    font-size: 1.6rem;
    line-height: 30px;
    margin-bottom: 12px;
  }

  .title-txt {
    font-size: 1rem;
    line-height: 20px;
    margin-bottom: 25px;
  }

  .btn-header {
    padding: 10px;
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 17px;
  }

  .how-it-works {
    font-size: 12px;
    line-height: 17px;
    margin-left: 8px;
  }

  .section-1 {
    margin-top: 20px;
    margin-bottom: 35px;
  }

  .section-1 h2 {
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 10px;
  }

  .section-1 p {
    font-size: 20px;
    line-height: 25px;
  }

  .section-2 {
    margin-bottom: 50px;
  }

  .video-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
  }

  .close {
    bottom: 105%;
    left: 90%;
  }

  .yt-channel {
    font-size: 18px;
    line-height: 17px;
  }

  .section-3 {
    margin-bottom: 20px;
  }

  .features {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .features img {
    width: 200px;
    height: auto;
    margin-left: 20px;
  }

  .features h2 {
    font-size: 24px;
    line-height: 28px;
    margin: 13px 0px;
  }

  .features p {
    font-size: 17px;
    line-height: 22px;
  }

  .section-4 h1 {
    font-size: 32px;
    padding: 5px 20px;
  }

  .list-testimoni-1,
  .list-testimoni-2 {
    grid-gap: 10px;
  }

  .list-testimoni-1 {
    margin-bottom: 20px;
  }

  .section-5 {
    margin-top: 180px;
  }

  .section-5-title {
    font-size: 23px;
    line-height: 32px;
    margin-bottom: 30px;
  }

  #package-list {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
  }

  .package {
    margin-top: 20px;
    height: 400px;
  }

  .package,
  .pertalite {
    padding: 24px;
    text-align: center;
  }

  .package {
    width: 200px;
  }

  .pertalite {
    width: 215px;
  }

  .package h3 {
    color: #b85a6c;
    font-size: 15px;
    line-height: 29px;
  }

  .package h2 {
    font-size: 23px;
    line-height: 26px;
    color: #141c43;
  }

  .package h2,
  .pertalite h2 {
    margin: 17px 0px;
    font-weight: bold;
  }

  .package p,
  .pertalite p {
    font-size: 10px;
    line-height: 18px;
  }

  .pertalite {
    height: 440px;
  }

  .pertalite h3 {
    font-size: 18px;
    line-height: 27px;
  }

  .pertalite h2 {
    font-size: 26px;
    line-height: 37px;
  }

  .btn-package {
    padding: 5px;
    font-size: 14px;
    width: 140px;
  }

  .premium button {
    margin-top: 60px;
  }

  .pertalite button {
    margin-top: 45px;
  }

  .pertamax button {
    margin-top: 7px;
  }

  .star {
    width: 23px;
    top: 8px;
    right: 5px;
  }

  .footer-bg {
    max-height: 120vh;
  }

  .garansi {
    padding: 10px 35px 10px 18px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    width: 420px;
    margin-right: 10%;
  }

  .garansi img {
    width: 250px;
    bottom: 40%;
    left: 85%;
  }

  .logo {
    margin-top: 40px;
  }

  .garansi h2 {
    font-size: 22px;
    line-height: 26px;
  }

  .garansi p,
  .logo p {
    font-size: 18px;
    line-height: 25px;
  }

  .logo img {
    width: 300px;
    height: auto;
  }

  .logo p {
    margin-bottom: 20px;
  }

  .contact {
    margin-top: 40px;
  }

  .fa {
    margin-right: 3px;
    font-size: 22px;
  }

  .email p,
  .ig p {
    font-size: 15px;
    margin-right: 10px;
  }

  .email {
    margin-right: 120px;
  }
}
